:root {
    --background: #ededed;
    --backgroundSec: #dadada;
    --text: #242424;
    --accent: #6fcc8b;
    --primary: #d44221;
}

body[data-theme="light"] {
  --text: #242424;
  --background: #ededed;
  --backgroundSec: #dadada;
  --primary: #d44221;
  --secondary: #a5e496;
  --accent: #70cd8a;
  --borderColor: #242424
}
body[data-theme="dark"] {
  --text: #dbdbdb;
  --background: #121212;
  --backgroundSec: #242424;
  --primary: #ff896e;
  --secondary: #2b691b;
  --accent: #328f4d;
  --borderColor: #242424
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
  
  
  html,
  body {
    max-width: 100vw;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
  }
  
  body {
    color: var(--text);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
main{
    overflow: hidden;
    width: 80vw;
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 80px 0;
    padding: 10px 0;
}
nav .menu{
  padding-left:0px;
}
nav .menu .hiddenMenuBtn{
  fill: var(--text);
  display: none;
}
nav .hiddenMenu{
  display: none;
  transition: .2s ease-in;
}
nav .menuClose{
  display: none;
  fill: var(--text);
}
nav .hiddenMenu ul{
  display: none;
}
nav h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 0px;
  width: fit-content;
  justify-self: start;
  text-align: left;
}

nav .logo{
  justify-self: start;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
nav .logo a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
nav .logo svg{
  width: 30px;
  height: 30px;
  transition: .2s ease-in;

}
nav .logo svg path{
  fill: var(--text) !important;
  transition: .2s ease-in;
}

nav .logo a:hover svg path{
  fill: var(--primary) !important;
}
nav .logo a:hover svg{
  transform: rotate(-90deg);
}

nav .mainMenuList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    column-gap: 30px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav .mainMenuList li{
  margin: 0px;
  /* padding: 0px; */
  transition: .1s ease-in;
}
nav .mainMenuList li:hover{
    cursor: pointer;
    color: var(--primary);
}

.hero, .formSection{
    display: flex;
    row-gap: 20px;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
    height: 80vh;
}
.hero .bigText{
    font-size: 2.5rem;
    padding: 0px;
}

h1, p, h1 span, p span{
    margin: 0px;
    padding: 0px;
}
.hero .primary{
    color: var(--primary);
}
.hero .smallText{
    font-size: 1.2rem;
    width: 40%;
}
.hero p .lowOpacity{
    opacity: 0.2;
}

.hero .button{
    border: 2px solid var(--borderColor);
    background-color: var(--primary);
    color: var(--background);
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}

/* LOGIN AND REGISTER CSS */

.loginSection{
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginChooser{
  background-color: var(--background);
  border: 2px solid var(--borderColor);
  border-radius: 7px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: -100px;
}

.loginChooser .loginOption{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--borderColor);
  padding: 10px 10px;
  margin: 0px;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}
.loginChooser .loginOption:nth-child(2){
  border-radius: 0px 5px 5px 0px;
}

.loginSelected{
  background-color: var(--primary);
  color: var(--background);
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.passDiv{
  position: relative;
  margin: 0px;
  width: 100%;
}

.passDiv svg{
  fill: var(--text) !important;
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(0%, 30%);
  transition: .1s ease-in;
}

.passDiv svg:hover{
  cursor: pointer;
  fill: var(--primary)
}

form input[type="text"], form input[type="password"]{
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: var(--background);
  color: var(--text);
  width: 100%;
  transition: .2s ease-in;
}

form input[type="text"]:focus, form input[type="password"]:focus{
  border: 1px solid var(--primary);
  color: var(--primary);
  outline: none;
}

form input[type="submit"]{
  background-color: var(--text);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--background);
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
}
form input[type="submit"]:hover{
  cursor: pointer;
  background-color: var(--primary);
}

/* ABOUT PAGE */
.aboutSection{
  display: flex;
  row-gap: 20px;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding: 0px;
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}
.aboutSection h2{
  margin: 0px;
}

.githubProfiles{
  display: flex; 
  align-items: center; 
  gap: 20px;
}

.githubPicture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* ERROR SECTION */
.errorMsg{
  color: red;
  visibility: hidden;
  margin: 0px;
  padding: 0px
}

/* DASHBOARD */
.sideBar{
  position: absolute;
  left: 0;
  background-color: var(--backgroundSec);
  height: 100vh;
  width: 70px;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sideBar .userMenu{
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sideBar .userMenu .userAvatar{
  width: 30px;
  height: 30px;
  margin: 0 auto;
  transition: .1s ease-in;
  position: relative;
  cursor: pointer;
}

.mobileDashboardMenuBtn{
  position: fixed;
  top: 1%;
  left: 90%;
  fill: var(--text) !important;
  z-index: 99;
  transition: .3s ease-in;
}
.mobileDashboardMenuBtn:hover{
  cursor: pointer;
  fill: var(--primary) !important;
}
.mobileMenuDashboard{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundSec);
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 20px;
}
.mobileMenuDashboardLists{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;;
}
.mobileMenuClose{
  position: absolute;
  top: 5%;
  right: 5%;
  fill: var(--text) !important;
  transition: .3s ease-in;
}
.mobileMenuClose:hover{
  transform: rotate(90deg);
  cursor: pointer;
  fill: var(--primary) !important;
}
.settingsHover{
  position: relative;
  top: -50%;
  left: 80%;
  z-index: -10;
  transform: translate(0%, -80%);
}
.settingsHover::before{
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid var(--text); 
  transform: translate(-100%, 0%);
}
.settingsHover div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  background-color: var(--text);
  color: var(--background);
  fill: var(--background) !important;
}

.sideBar .userAvatar svg path{
  fill: var(--text);
  transition: .1s ease-in;
}
.sideBar .userAvatar svg:hover path{
  fill: var(--primary);
}

.addList{
  transition: .1s ease-in;
}
.addList:hover{
  cursor: pointer;
  fill: var(--primary) !important;
}

.logOut svg path{
  fill: var(--text) !important;
  transition: .1s ease-in;
}
.logOut:hover{
  cursor: pointer;
}
.logOut svg:hover path{
  fill: red !important; 
}

.tasksLists{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50px;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(25, 1fr);
  overflow-y: scroll;
  row-gap: 10px;
}
.tasksLists svg{
  fill: var(--text) !important;
  margin: 0 auto;
}


.mainContent{
  background-color: var(--background);
  position: absolute;
  left: 70px;
  width: calc(100% - 70px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial h2, .tutorial p{
  text-align: center;
  margin-bottom: 30px;
}
.tutorial h2{
  font-size: 2rem;
}

/* CREATE TASK */
.inTheMiddle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* CREATE TASK + LIST DIV COMPONENT*/
.createListContainer{
  position: absolute;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  z-index: 99;
  background-color: var(--background);
  width: 500px;
  height: 250px;
  gap: 10px;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.createListContainer svg{
  fill: var(--text) !important;
  position: absolute;
  top: 10%;
  right: 2%;
  transition: .2s ease-in;
}
.createListContainer svg:hover{
  fill: var(--primary) !important;
  transform: rotate(90deg);
  cursor: pointer;
}
.createListContainer form input[type="submit"]{
  color: var(--background);
  background-color: var(--text);
  transition: .2s ease-in;
  border: 1px solid var(--borderColor);
}
.createListContainer form input[type="submit"]:hover{
  background-color: var(--primary);
}

/* LISTICON COMPONENT */
.listDivIcon{
  color: var(--background);
  background-color: var(--text);
  border-radius: 5px;
  padding: 5px 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: .1s ease-in;
}
.listDivIcon:hover{
  cursor: pointer;
  background-color: var(--primary);
}

/* SETTINGS PAGE */
.settingsWrap{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* row-gap: 40px; */
  text-align: center;
}
.settingsWrap h2{
  font-size: 1.75rem;
}
/* CHANGEUSERNAME COMPONENT */
.changeUsernameDiv{
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.changeUsernameDiv input[type="submit"]{
  background-color: var(--text);
  color: var(--background);
  border: 1px solid var(--borderColor);
  transition: .2s ease-in;
}
.changeUsernameDiv input[type="submit"]:hover{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

/* CHANGEPASSWORD COMPONENT */
.changePasswordDiv{
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.changePasswordDiv input[type="submit"]{
  background-color: var(--text);
  color: var(--background);
  border: 1px solid var(--borderColor);
  transition: .2s ease-in;
}
.changePasswordDiv input[type="submit"]:hover{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}
/* CHANGE LOCATION COMPONENT */
.changeLocation{
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.changeLocation input[type="submit"]{
  background-color: var(--text);
  color: var(--background);
  border: 1px solid var(--borderColor);
  transition: .2s ease-in;
}
.changeLocation input[type="submit"]:hover{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}
/* CHANGETHEME COMPONENT */
.changeThemeDiv{
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.buttonWrap{
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: fit-content;
  text-align: center;
  column-gap: 10px;
}
.changeThemeDiv .buttonTheme{
  padding: 10px 20px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text);
  color: var(--background);
  transition: .2s ease-in;
}
.changeThemeDiv .buttonTheme:hover{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

.selectedTheme{
  background-color: var(--primary) !important;
}


/* MAINCONTENT COMPONENT */
.bentoWraper{
  width: 95%;
  height: 95%;
  padding: 20px;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 30px;
  transition: .2s ease-in;
}
.bentoWraper .leftSideWraper{
  overflow-y: scroll;
}
.bentoWraper .tasksWraper{
  width: 100%;
  height: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 1fr 10fr .4fr;
}
.bentoWraper .finishedTasksWraper{
  margin-top: 30px;
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 1fr 10fr .4fr;
}
.bentoWraper .tasksWraper .listHeader{
  font-size: 1.35rem;
  display: grid;
  grid-template-columns: 11fr .2fr;
}
.bentoWraper .tasksWraper .listHeader svg{
  fill: var(--text) !important;
} 
.bentoWraper .tasksWraper .listHeader svg:hover{
  cursor: pointer;
  fill: var(--primary) !important;
}
.bentoWraper .tasksWraper .createTaskButton{ 
  background-color: var(--text);
  color: var(--background);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  transition: .1s ease-in;
}
.bentoWraper .tasksWraper .createTaskButton:hover{
  cursor: pointer;
  background-color: var(--primary);
} 

.bentoWraper .widgetWraper{
  display: block;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows:4fr 5fr 2fr;
  row-gap: 30px;
}

/* TASKELEMENT */
.taskElement{
  width: 100%;
  display: grid;
  grid-template-columns: .2fr 10fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.taskElement .bigCirle{
  background-color: var(--text);
  width: 15px;
  height: 15px;
  border-radius: 100px;
}
.taskElement .taskContent{
  display: grid;
  grid-template-columns: 10fr .2fr;
  border-bottom: 1px solid var(--text);
}
.taskElement .taskContent .taskElementMenu{
  justify-self: end;
  width: fit-content;
  fill: var(--text) !important;
  cursor: pointer;
  transition: .1s ease-in;
}
.taskElement .taskContent .taskElementMenu:hover{
  fill: var(--primary) !important;
}

.taskElement .taskElementHiddenMenu{
  position: absolute;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  gap: 10px;
  right: 0;
}
.taskElement .taskElementHiddenMenu svg path{
  fill: var(--text) !important
}

.taskElement .taskElementHiddenMenu svg:hover, 
.taskElement .taskElementHiddenMenu p:hover{
  cursor: pointer;
}

/* EDIT TASK DIV */
.editTaskWraper{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  z-index: 99;
  background-color: var(--background);
  width: 500px;
  height: 250px;
  gap: 10px;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.editTaskWraper svg{
  fill: var(--text) !important;
  position: absolute;
  top: 10%;
  right: 2%;
  transition: .2s ease-in;
}
.editTaskWraper svg:hover{
  fill: var(--primary) !important;
  transform: rotate(90deg);
  cursor: pointer;
}
.editTaskWraper form input[type="submit"]{
  color: var(--background);
  background-color: var(--text);
  transition: .2s ease-in;
  border: 1px solid var(--borderColor);
}
.editTaskWraper form input[type="submit"]:hover{
  background-color: var(--primary);
}

/* WEATHER WIDGET */
.weatherWraper{
  width: 100%;
  height: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px 30px;
}
.weatherWraper .clockWraper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid var(--borderColor);
  align-items: baseline;
}
.weatherWraper .clockWraper h3{
  font-size: 2.5rem;
}
.weatherWraper .clockWraper p{
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: end;
  text-align: right;
}

.weatherWraper .weatherWidget{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 20px;
  height: 60%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}
.weatherWraper .weatherWidget .weatherLeft {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr .3fr;
  justify-self: center;
  align-self: center;
  height: 100%;
}
.weatherWraper .weatherWidget .weatherLeft .currentTemp{
  font-size: 6.6rem;
  font-weight: bold;
}
.weatherWraper .weatherWidget .weatherLeft .weatherIcon{
  width: 95%;
}
.weatherWraper .weatherWidget .weatherLeft .weatherIcon svg{
  fill: var(--text) !important;
  height: 100px !important;
  width: 100px !important;
}
.weatherWraper .weatherWidget .weatherRight{
  height: 100%;
  padding: 5px;
}
/* RANDOM TASK WIDGET */
.randomTaskWraper{
  width: 100%;
  height: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 1fr 3fr .3fr;
}

.randomTaskWraper .randomTaskButton{
  text-align: center;
  background-color: var(--text);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: .1s ease-in;
}
.randomTaskWraper p{
  font-size: 1.1rem;
}
.randomTaskWraper .randomTaskButton:hover{
  cursor: pointer;
  background-color: var(--primary);
}

/* FOOTER WIDGET */
.footerWraper{
  width: 100%;
  height: 100%;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: 1fr 3fr .3fr;
}

.footerWraper .footerImgWraper{
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row;
}

.footerWraper .footerImgWraper img{
  width: 40px;
  height: 40px;
  size: 50px;
  border-radius: 100px;
}
.footerWraper .footerImgWraper img:hover{
  cursor: pointer;
}

/* POP UP WINDOW */
.popUpWindow{
  position: fixed;
  top: 2%;
  left: 86%;
  background-color: var(--background);
  width: 300px;
  height: fit-content;
  padding: 20px 20px;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  transform: translate(-8%, -2%);
}

.popUpWindow .timeLeft{
  margin-top: 10px;
  width: 100%;
  background-color: var(--text);
  height: 3px;
  transition: .2s ease-in;
}

/* RESPONSIVE */
@media screen and (max-width: 2400px){
  .weatherWraper .weatherWidget .weatherLeft .currentTemp{
    font-size: 6.5rem;
  }
  .weatherWraper .weatherWidget .weatherLeft .weatherIcon svg{
    height: 80px !important;
    width: 80px !important;
  }
}
@media screen and (max-width: 2232px){
  .bentoWraper .tasksWraper{
    height: 82.5%;
  }
  .bentoWraper .widgetWraper{
    height: 82.5%;
  }
  .weatherWraper .weatherWidget .weatherLeft .currentTemp{
    font-size: 5.5rem;
  }
  .weatherWraper .clockWraper{
    grid-template-columns: .5fr 1fr;
  }
  .weatherWraper .clockWraper h3{
    font-size: 2rem;
  }
  .weatherWraper .clockWraper p{
    font-size: 1rem;
  }
}
@media screen and (max-width: 1950px){
  .weatherWraper .weatherWidget .weatherLeft .currentTemp{
    font-size: 6rem;
  }
  .weatherWraper .weatherWidget .weatherLeft .weatherIcon svg{
    height: 90px !important;
    width: 90px !important;
  }
  .weatherWraper .weatherWidget{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    height: 60%;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1750px){
  .weatherWraper .weatherWidget .weatherLeft .currentTemp{
    font-size: 5.5rem;
  }
  .weatherWraper .weatherWidget .weatherLeft .weatherIcon svg{
    height: 80px !important;
    width: 80px !important;
  }
  .weatherWraper .clockWraper{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    text-align: center;
  }
  .weatherWraper .clockWraper h3{
    font-size: 2rem;
  }
  .weatherWraper .clockWraper p{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 1650px){
  .weatherWraper .weatherWidget .weatherLeft .currentTemp{
    font-size: 5rem;
  }
  .weatherWraper .weatherWidget .weatherLeft .weatherIcon svg{
    height: 70px !important;
    width: 70px !important;
  }
}
@media screen and (max-width: 1500px){
  .bentoWraper{
    grid-template-columns: 1fr;
  }
  .bentoWraper .tasksWraper{
    height: 100%;
  }
  .bentoWraper .widgetWraper{
    display: none;
    height: 68%;
  }

}

@media screen and (min-width:1001px) and (max-width: 1200px) {
  .hero{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
  }
  .hero .smallText{
    width: 80%;
  }
  nav .hiddenMenu{
    display: none;
  }
  nav .menuClose{
    display: none;
  }
  nav .hiddenMenu ul{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
  }
  nav{
    margin-top: 20px;
  }
  .menu{
    display: flex;
    align-items: right;
    justify-content: right;
  }
  nav .menu .hiddenMenuBtn{
    display: block;
    margin: 0px;
    transition: .1s ease-in;
  }
  nav .menu .hiddenMenuBtn:hover{
    cursor: pointer;
    fill: var(--primary) !important;
  }
  nav .mainMenuList{
    display: none;
  }
  nav .hiddenMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundSec);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  nav .menuClose{
    position: absolute;
    top: 5%;
    right: 5%;
    transition: .3s ease-in;
  }
  nav .menuClose:hover{
    transform: rotate(90deg);
    cursor: pointer;
    fill: var(--primary) !important;
  }
  nav .hiddenMenu ul{
    width: 100%;
    color: var(--text);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    font-size: 2.5rem;
  }

  nav .hiddenMenu ul li{
    z-index: 2;
    transition: .1s ease-in;
  }
  nav .hiddenMenu ul li:hover{
      cursor: pointer;
      color: var(--primary);
  }
  .hero{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
  }
  .hero .bigText{
    font-size: 2rem;
    padding: 0px;
  }
  .hero .smallText{
    font-size: 1.2rem;
    width: 60%;
  }
  .passDiv svg{
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(10%, 15%);
  }

  .leftSideWraper{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    overflow-y: scroll;
    height: 90%;
    margin-top: 20px;
  }
  .mainContent{
    background-color: var(--background);
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainContent h2{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .hero .bigText{
    font-size: 1.5rem;
    padding: 0px;
  }
  .hero .smallText{
    font-size: 1rem;
    width: 60%;
  }
  .hero .button{
    font-size: 1rem;
    width: 150px;
  }
  nav .hiddenMenu ul{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .loginChooser{
    width: 300px;
  }
  
  form{
    width: 300px;
  }
  .passDiv svg{
    position: absolute;
    top: 35%;
    left: 85%;
    transform: translate(10%, 10%);
  }
  form input[type="text"], form input[type="password"]{
    padding: 20px 20px;
    font-size: 1rem;
  }
  .mobileDashboardMenuBtn{
    left: 80%;
  }
  .mainContent h2{
    font-size: 0.9rem;
    text-align: center;
  }
  .tasksWraper h2, .finishedTasksWraper h2{
    font-size: 1.5rem;
    text-align: left;
  }
  .settingsWrap{
    position: absolute;
    top: 10%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /* row-gap: 40px; */
    text-align: center;
  }
  main{
    overflow: scroll;
  }
  .popUpWindow{
    position: fixed;
    top: 2%;
    left: 2%;
    background-color: var(--background);
    width: 200px;
    font-size: .8rem;
    height: fit-content;
    padding: 20px 20px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    transform: translate(-0%, -0%);
  }
  .createListContainer{
    width: 380px;
    height: 250px;
    
  }
  .createListContainer h2{
    font-size: 1.2rem;
  }
  .createListContainer svg{
    top: 7.5%;
    right: 4%;
  }
  .createListContainer input[type="text"]{
    width: 100%;
  }
}
@media screen and (max-height: 1000px) {
  .loginSection{
    height: 70vh;
    grid-template-rows: 1fr 3fr;
  }
}