:root {
    --background: #ededed;
    --backgroundSec: #dadada;
    --text: #242424;
    --accent: #6fcc8b;
    --primary: #d44221;
  }
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
  
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'JetBrains Mono', monospace;
  }
  
  body {
    color: var(--text);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  
main{
    overflow: hidden;
    width: 80vw;
    padding: 0px;
    margin: 0px;
}
nav{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 80px 0;
    padding: 10px 0;
}
nav .menu{
  padding-left:0px;
}
nav .menu .hiddenMenuBtn{
  display: none;
}
nav .hiddenMenu{
  display: none;
  transition: .2s ease-in;
}
nav .menuClose{
  display: none;
}
nav .hiddenMenu ul{
  display: none;
}
nav h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 0px;
    width: 100%;
}
nav .mainMenuList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    column-gap: 30px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav .mainMenuList li{
  margin: 0px;
  /* padding: 0px; */
  transition: .1s ease-in;
}
nav .mainMenuList li:hover{
    cursor: pointer;
    color: var(--primary);
}

.hero, .formSection{
    display: flex;
    row-gap: 20px;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
    height: 80vh;
}
.hero .bigText{
    font-size: 2.5rem;
    padding: 0px;
}

h1, p, h1 span, p span{
    margin: 0px;
    padding: 0px;
}
.hero .primary{
    color: var(--primary);
}
.hero .smallText{
    font-size: 1.2rem;
    width: 40%;
}
.hero p .lowOpacity{
    opacity: 0.2;
}

.hero .button{
    border: 2px solid var(--text);
    background-color: var(--primary);
    color: var(--background);
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}

/* LOGIN AND REGISTER CSS */

.loginSection{
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginChooser{
  background-color: var(--background);
  border: 2px solid var(--text);
  border-radius: 7px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: -100px;
}

.loginChooser .loginOption{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text);
  padding: 10px 10px;
  margin: 0px;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}
.loginChooser .loginOption:nth-child(2){
  border-radius: 0px 5px 5px 0px;
}

.loginSelected{
  background-color: var(--primary);
  color: var(--background);
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.passDiv{
  position: relative;
  margin: 0px;
  width: 100%;
}

.passDiv svg{
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(0%, 30%);
  transition: .1s ease-in;
}

.passDiv svg:hover{
  cursor: pointer;
  fill: var(--primary)
}

form input[type="text"], form input[type="password"]{
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: var(--background);
  color: var(--text);
  width: 100%;
  transition: .2s ease-in;
}

form input[type="text"]:focus, form input[type="password"]:focus{
  border: 1px solid var(--primary);
  color: var(--primary);
  outline: none;
}

form input[type="submit"]{
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--background);
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
}
form input[type="submit"]:hover{
  cursor: pointer;
}

/* ABOUT PAGE */
.aboutSection{
  display: flex;
  row-gap: 20px;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding: 0px;
  height: 80vh;
  width: 100%;
}
.aboutSection h2{
  margin: 0px;
}

/* ERROR SECTION */
.errorMsg{
  color: red;
  visibility: hidden;
  margin: 0px;
  padding: 0px
}

/* DASHBOARD */
.sideBar .userAvatar{
  width: 50px;
  height: 50px;
}
.sideBar .userAvatar svg path{
  fill: var(--text);
  transition: .1s ease-in;
}
.sideBar .userAvatar svg:hover path{
  fill: var(--primary);
}



/* RESPONSIVE */

@media screen and (min-width:1001px) and (max-width: 1200px) {
  .hero{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
  }
  .hero .smallText{
    width: 80%;
  }
  nav .hiddenMenu{
    display: none;
  }
  nav .menuClose{
    display: none;
  }
  nav .hiddenMenu ul{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
  }
  nav{
    margin-top: 20px;
  }
  .menu{
    display: flex;
    align-items: right;
    justify-content: right;
  }
  nav .menu .hiddenMenuBtn{
    display: block;
    margin: 0px;
    transition: .1s ease-in;
  }
  nav .menu .hiddenMenuBtn:hover{
    cursor: pointer;
    fill: var(--primary) !important;
  }
  nav .mainMenuList{
    display: none;
  }
  nav .hiddenMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundSec);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  nav .menuClose{
    position: absolute;
    top: 5%;
    right: 5%;
    transition: .3s ease-in;
  }
  nav .menuClose:hover{
    transform: rotate(45deg);
    cursor: pointer;
    fill: var(--primary) !important;
  }
  nav .hiddenMenu ul{
    width: 100%;
    color: var(--text);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    font-size: 2.5rem;
  }

  nav .hiddenMenu ul li{
    z-index: 2;
    transition: .1s ease-in;
  }
  nav .hiddenMenu ul li:hover{
      cursor: pointer;
      color: var(--primary);
  }
  .hero{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
  }
  .hero .bigText{
    font-size: 2rem;
    padding: 0px;
  }
  .hero .smallText{
    font-size: 1.2rem;
    width: 60%;
  }
  .passDiv svg{
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(10%, 15%);
  }
}
@media screen and (max-width: 700px) {
  .hero .bigText{
    font-size: 1.5rem;
    padding: 0px;
  }
  .hero .smallText{
    font-size: 1rem;
    width: 60%;
  }
  .hero .button{
    font-size: 1rem;
    width: 150px;
  }
  nav .hiddenMenu ul{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .loginChooser{
    width: 300px;
  }
  
  form{
    width: 300px;
  }
  .passDiv svg{
    position: absolute;
    top: 35%;
    left: 85%;
    transform: translate(10%, 10%);
  }
  form input[type="text"], form input[type="password"]{
    padding: 20px 20px;
    font-size: 1rem;
  }
}
@media screen and (max-height: 1000px) {
  .loginSection{
    height: 70vh;
    grid-template-rows: 1fr 3fr;
  }
}